<%= render 'layouts/fuse' %>

<main>

  <div id="wrapper">

    <%= render 'layouts/sidebar' %>

    <div class="content-wrapper">
      <%= render 'layouts/navbar' %>
      <div class="content custom-scrollbar">

        <div class="page-layout blank p-6">

          <h2>This will be our dashboard</h2>

        </div>

      </div>
    </div>

  </div>
</main>