<div class="body" id="wrapper">

  <div id="header">
    <%= render 'layouts/header' %>
  </div>


  <div id="content">
    <%= render 'layouts/welcome' %>
    <%= render 'layouts/features' %>
  </div>

  <%= render 'layouts/footer' %>

</div>


