<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel"><%= t('expenses.edit_expense') %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>